{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%  static  'calc/main.css' %}">

    <title>Home</title>
</head>
<body>

<div class="navbar">
  <a class="active" href="{% url 'index' %}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="{% url 'add' %}"><i class="fa fa-plus"></i> Addition</a>
  <a href="{% url 'sub' %}"><i class="fa fa-minus"></i> Substraction</a>
  <a href="{% url 'mul' %}"><i class="fa fa-times"></i> Multiplication</a>
  {% if user.is_authenticated %}
  <a href="{% url 'mystars' %}"  style="float:right"><i class="fa fa-fw fa-user"></i> Hello {{user.username|title}} </a>
  <a href="{% url 'logout' %}" style="float:right"><i class="fa fa-fw fa-user" ></i> Logout</a>
  {% else %}
  
  <a href="{% url 'login' %}" style="float:right"><i class="fa fa-fw fa-user" ></i> Login</a>
  <a href="{% url 'register' %}" style="float:right"><i class="fa fa-users"></i>  Register</a>
  {% endif %}
</div>


<div style="margin: auto; width: 50%;">
{% block calc %}
</div>
<br>

<center> <b>
<snap style="color: {{color}}; font-size: 25px;"> W</snap>
<snap style="color: {{color1}}; font-size: 25px;"> e</snap>
<snap style="color: {{color}}; font-size: 25px;"> l</snap>
<snap style="color: {{color1}}; font-size: 25px;"> c</snap>
<snap style="color: {{color}}; font-size: 25px;"> o</snap>
<snap style="color: {{color1}}; font-size: 25px;"> m</snap>
<snap style="color: {{color}}; font-size: 25px;"> e</snap>
<snap style="color: {{color1}}; font-size: 25px;"> !</snap>
<snap style="color: {{color}}; font-size: 25px;"> </snap>

</b></center>

<div style="margin: auto; width: 50%;">
<div class="row">
    <div class="column">
      <a href="{% url 'add' %}"> <img src="https://www.clipartmax.com/png/full/22-225939_add-red-plus-sign-png.png" alt="Snow" style="width:100%"> </a>
    </div>
    <div class="column">
      <a href="{% url 'sub' %}"><img src="https://pngimg.com/uploads/minus/small/minus_PNG65.png" alt="Forest" style="width:100%"> </a>
    </div>
    <div class="column">
     <a href="{% url 'mul' %}"> <img src="https://www.clipartmax.com/png/full/5-55338_multiplication-clipart.png" alt="Mountains" style="width:100%"> </a>
    </div>
     </div>
    </div>
  </div>
  <b>
    <hr><br>
  <p>Addition </p>
<p>The addition is a process of adding two or more items together. In math, addition is the method of calculating the total 
of two or more numbers to know the sum of the numbers. It is a primary arithmetic operation. We use addition more often in real life. One of the most common everyday uses for addition is while we work with money or calculating our grocery bills.
</p>
<hr><br>
<p>
Substraction
</p>

<p>
  Subtraction is the operation of taking the difference of two numbers and . Here, is called the minuend, is called the subtrahend, and the symbol between the and is called the minus sign.
</p>
<hr><br>
<p>
  Multiplication
</p>
In simple algebra, multiplication is the process of calculating the result when a number is taken times. The result of a multiplication is called the product of and , and each of the numbers and is called a factor of the product .
<p>
</p>
{% endblock  %}





</body>
</html>
